
  $color_white: #fff;
  $color_prime: #5ad67d;
  $color_grey: #e2e2e2;
  $color_grey_dark: #a2a2a2;
  
  .tag{
    background-color: gray;
    margin: 3px;
    padding:2px;
    text-transform: capitalize;
  }